#content img {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body {
  background-color: white;
}

li {
    text-align: center;
    display: inline;
    float: left;
}

.class img {
    text-align: center;
    padding: 10px 20px;
}


a {
    display: block;
    padding: 8px;
}

img {
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    width: 50%;
}
